* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Alata', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .padre-red {
    display: flex;
    flex-flow: column nowrap;
  }
  
  .margen-interno {
    padding: 0 50px;
  }
  
  .cabecera-red {
    background: #E6E6E6;
    display: flex;
    flex-flow: column nowrap;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
  }
  
  .menu-red {
    background: rgba(0, 0, 0, .1);
    display: flex;
    flex-flow: column nowrap;
    height: 60px;
    align-items: center;
    display: inline-block;
    border-bottom: 1px solid rbga(255, 255, 255, .5);
  }
  
  .logo-red {
    flex: 1 1 auto;
    height: 15px;
  }
  
  .nav-red {
    display: flex;
    justify-content: flex-end;
    flex: 5 1 auto;
  }
  
  .nav-red a {
    color: rgb(2, 2, 122);
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: 2px;
    flex-direction: row;
    float: right;
    border-radius: 50px;
    font-family: Verdana;
  }
  
  .nav-red a:hover {
    color: rgb(189, 161, 124);
    background: rgb(2, 2, 122);
  }
  
  .texto-principal-red {
    height: 120px;
    display: flex;
    justify-content: center;
    margin: 0 40px 0px 20px;
  }
  
  h1 {
    font-family: Verdana;
    font-size: 50px;
    color: rgb(2, 2, 122);
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
  }
  
  .section-red {
    background: #f7f7f7;
    display: flex;
    text-align: justify;
  }
  
  .articulos-red {
    background: #f7f7f7f7;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
  }
  
  .article-red {
    flex: 1 1 auto;
    color: #000;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0;
    flex: 1 1 45%;
    background: #fff;
  }
  .article-red p{
    font-family: Verdana;
    font-size: 16px;
  }
  
  h3 {
    font-size: 15px;
    padding: 0px 0 10px 0;
    color: rgb(189, 161, 124);
    font-family: Verdana;
   
  }

  h2 {
    background:  rgb(2, 2, 122);
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    font-family: Verdana;
  }
  .navegacion-red {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 100%;
    background: rgb(189, 161, 124);
    margin: 0px 10px 0 10px;
  }
  
  .navegacion-red a {
    color: #fff;
    font-size: 11px;
    text-decoration: underline;
    padding: 0 10px;
    letter-spacing: 2px;
    border-radius: 50px;
    text-decoration: none;
    align-items: flex-end;
  }
  
  .footer-red {
    background: rgba(0, 0, 0, .1);
    margin-top: 10px;
  }
  
  .pie-red {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 6em;
    text-align: center;
  }
  
  .pie-red p{
    margin-bottom: 10px;
    color: rgb(2, 2, 122);
    text-transform: uppercase;
  }
  
  .pie-red a {
    color: rgb(2, 2, 122);
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
    font-family: Verdana;
  }
  
  @media all and (max-width: 1120px) {
    .section-red {
      flex-direction: column;
    }
    .menu-red {
      flex-direction: column;
      display: inline-block;
      height: auto;
    }
    h1 {
      font-size: 15px;
    }
    .text-principal {
      height: 80px;
    }
  }
  
  @media all and (max-width: 762px) {
    .articulos-red {
      flex-direction: column;
    }
  }