* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Alata', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .contenedor {
    display: flex;
    flex-flow: column nowrap;
  }
  
  .margen-interno {
    padding: 0 50px;
  }
  
  .cabecera-hard {
    background: #E6E6E6;
    display: flex;
    flex-flow: column nowrap;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
  }
  
  .main-hard {
    background: rgba(0, 0, 0, .1);
    display: flex;
    flex-flow: column nowrap;
    height: 60px;
    align-items: center;
    display: inline-block;
    border-bottom: 1px solid rbga(255, 255, 255, .5);
  }
  
  .log-hard {
    flex: 1 1 auto;
    height: 15px;
  }
  
  .nav-hard {
    display: flex;
    justify-content: flex-end;
    flex: 5 1 auto;
  }
  
  .nav-hard a {
    color: rgb(2, 2, 122);
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: 2px;
    flex-direction: row;
    float: right;
    border-radius: 50px;
    font-family: Verdana;
  }
  
  .nav-hard a:hover {
    color: rgb(189, 161, 124);
    background: rgb(2, 2, 122);
  }
  
  .text-principal-hard {
    height: 120px;
    display: flex;
    justify-content: center;
    margin: 0 40px 0 20px;
  }
  
  h1 {
    font-family: Verdana;
    font-size: 50px;
    color: rgb(2, 2, 122);
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
  }
  
  .section-hard{
    background: #f7f7f7;
    display: flex;
    text-align: justify;
  }

  
  .articulos-hard {
    background: #f7f7f7f7;
    flex: 2 1 auto;
    display: flex; 
    flex-flow: row wrap;
   
  }
  
  .article-hard {
    flex: 1 1 auto;
    color: #000;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0;
    flex: 1 1 45%;
    background: #fff;
   
  }
  
  .article-hard img {
    width: 100%;
    height: 250px;
    
  }
 
  .article-hard p{
      font-size: 16px;
      font-weight: 300;
      margin-top: 20px;
      top: 20px;
      font-family: Verdana;
      
  }
  .article-hard h4{
      margin-top: 60px;
      font-size: 30px;
      font-weight: 400;
      font-family: Verdana;
  }
  
  h3 {
    color: #fff;
    font-size: 13px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    font-family: Verdana;
  }
  
  h2 {
    font-size: 25px;
    text-transform: uppercase;
    padding: 0px 0 10px 0;
    color: rgb(189, 161, 124);
    font-family: Verdana;
  }
  .navegacion-hard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 100%;
    background: rgb(189, 161, 124);
    margin: 0px 10px 0 10px;
  }
  
  .navegacion-hard a {
    color: #fff;
    font-size: 11px;
    text-decoration: underline;
    padding: 0 10px;
    letter-spacing: 2px;
    border-radius: 50px;
    text-decoration: none;
  }

  
  .aside-hard {
    background: rgb(41, 41, 119);
    flex: 2 1 auto;
    margin: 10px 5px 10px 0;
    margin-top: 10px;
  
  }
  .aside-hard p{
    width: 100%;
    height: 70vh;
  }
 
  .aside-hard img{
      width: 100%;
      height: 270px;
  }
  
  h3 {
    background: rgb(189, 161, 124);
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: Verdana;

  }
  
  .publicidad-hard {
    background: rgb(41, 41, 119);
    
  }
  
  .publicidad-hard p {
    font-size: 13px;
    color: #fff;
    padding: 40px 40px 40px 40px;
    font-family: Verdana;
  }
  
  .publicidad-hard h3 {
    background: rgb(189, 161, 124);
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-family: Verdana;
  }

  .footer-hard {
    background: rgba(0, 0, 0, .1);
    margin-top: 10px;
  }
  
  .pie-hard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 6em;
    text-align: center;
  }
  
  .pie-hard p {
    margin-bottom: 10px;
    color: #000;
    font-family: Verdana;
  }
  
  .pie-hard a {
    color: #000;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
    font-family: Verdana;
  }
  
  @media all and (max-width: 1120px) {
    .section-hard {
      flex-direction: column;
    }
    .main-hard{
      flex-direction: column;
      display: inline-block;
      height: auto;
    }
    .aside-hard {
      display: flex;
      justify-content: center;
    }
    h1 {
      font-size: 15px;
    }
    .text-principal-hard {
      height: 80px;
    }
  }
  
  @media all and (max-width: 762px) {
    .articulos-hard {
      flex-direction: column;
    }
  }
  
  @media all and (max-width: 400px) {
    .aside-hard {
      display: flex;
      flex-direction: column;
    }
  }