* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Alata', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .padre-elec{
    display: flex;
    flex-flow: column nowrap;
  }
  
  .margen-interno {
    padding: 0 50px;
  }
  
  .header-elc {
    background: #E6E6E6;
    display: flex;
    flex-flow: column nowrap;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
  }
  
  .menu-elec {
    background: rgba(0, 0, 0, .1);
    display: flex;
    flex-flow: column nowrap;
    height: 60px;
    align-items: center;
    display: inline-block;
    border-bottom: 1px solid rbga(255, 255, 255, .5);
  }
  
  .logo-elec {
    flex: 1 1 auto;
    height: 15px;
  }
  
  .nav-elec {
    display: flex;
    justify-content: flex-end;
    flex: 5 1 auto;
  }
  
  .nav-elec a {
    color: rgb(2, 2, 122);
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: 2px;
    flex-direction: row;
    float: right;
    border-radius: 50px;
    font-family: Verdana;
  }
  
  .nav-elec a:hover {
    color: rgb(189, 161, 124);
    background: rgb(2, 2, 122);
  }
  
  .textoprincipal-elec {
    height: 120px;
    display: flex;
    justify-content: center;
    margin: 0 40px 0px 20px;
  }
  
  h1 {
    font-family: Verdana;
    font-size: 50px;
    color: rgb(2, 2, 122);
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
  }
  
  .section-elec {
    background: #f7f7f7;
    display: flex;
    text-align: justify;
  }
  
  .articulos-elec {
    background: #f7f7f7f7;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
    text-align: justify;
    
  }
  
  .article-elec {
    flex: 1 1 auto;
    color: #000;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0px;
    flex: 1 1 45%;
    background: #fff;
    flex-direction: column;
    align-items: center;
  }
  
  .article-elec img {
    width: 300px;
    height: 300px;
    margin-top: 60px;
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
    
  }
  .article-elec p{
    font-size: 16px;
    font-weight: 200;
    margin-top: 40px;
  }

  
  h2 {
      text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 0 10px 0;
    color: rgb(2, 2, 122);
  }

  .navegacion-elec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 100%;
    background: rgb(189, 161, 124);
    margin: 0 10px 0 10px;
  }
  
  .navegacion-elec a {
    color: #fff;
    font-size: 11px;
    text-decoration: underline;
    padding: 0 10px;
    letter-spacing: 2px;
    border-radius: 50px;
    text-decoration: none;
  }
  
  .aside-elec {
    background: rgb(107, 71, 77);
    flex: 1 1 auto;
    margin: 10px 5px 10px 0;
    margin-top: 10px;
  }
  
  .aside-elec p {
    width: 100%;
    height: 70vh;
   
  }
  
  h3 {
    background: rgb(189, 161, 124);
    color: #fff;
    padding: 10px 0 10px 0;
    text-transform: uppercase;
  }
  
  .publicidad-elec {
    background: rgb(41, 41, 119);
  }
  
  .publicidad-elec p {
    font-size: 13px;
    color: #fff;
    padding: 40px 40px 40px 40px;
    margin-top: 20px;
   
  }
  
  .publicidad-elec h3 {
    background: rgb(189, 161, 124);
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
  }
  .publicidad-elec img{
      width: 100%;
  }
  
  .footer-elec {
    background: rgba(0, 0, 0, .1);
    margin-top: 10px;
  }
  
  .pie-elec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 6em;
    text-align: center;
  }
  
  .pi-elec p {
    margin-bottom: 10px;
    color: #000;
    text-align: justify;
  }
  
  .pie-elec a {
    color: #000;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
  }
  
  @media all and (max-width: 1120px) {
    .section-elec {
      flex-direction: column;
    }
    .menu-elec {
      flex-direction: column;
      display: inline-block;
      height: auto;
    }
    .aside-elec {
      display: flex;
      justify-content: center;
    }
    h1 {
      font-size: 15px;
    }
    .text-principal {
      height: 80px;
    }
  }
  
  @media all and (max-width: 762px) {
    .articulos-elec {
      flex-direction: column;
    }
  }
  
  @media all and (max-width: 400px) {
    .aside-elec {
      display: flex;
      flex-direction: column;
    }
  }